.Container {
  display: flex;
  flex-direction: column;
  height: 260px;
  max-width: 260px;
  background-color: var(--hover-color);
  margin: var(--space-1);
  border-radius: 2px;
}
.Flag {
  min-height: 140px;
  width: 100%;
  background: cyan;
  object-fit: cover;
}
.Data {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-2) var(--space-2);
}
.Data p {
  font-size: 13px;
  font-weight: 200;
  margin: 3px 0;
}
.Data .Title {
  margin: 0px 0 7px 0;
  font-size: 20px;
  font-weight: 400;
}
